<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OAuth Redirect</title>
  </head>

  <script>
    const targetOrigin= <%- JSON.stringify(targetOrigin) %>;

    const opener = window.opener;
    const queryString = window.location.href.split('?');
    const params = new URLSearchParams(queryString[1]);

    if (params.has('code')) {
      opener.postMessage(
        { token: params.get('code'), state: params.get('state') },
        targetOrigin
      );
    } else {
      opener.postMessage({ error: true }, targetOrigin);
    }
  </script>
</html>
